body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-header,
.middle-header,
.right-header {
    flex: 1;
    display: flex;
    align-items: center;
}

.left-header {
    justify-content: flex-start;
}

.left-header img {
    width: 250px;
    height: 75px;
}

.middle-header {
    justify-content: center;
}

.right-header {
    justify-content: flex-end;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.header-container{
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding: 10px 10px 0 10px;
    margin: 0;
}

.header a,
.right-header span {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 24px;
}

.header a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.middle-header a img {
    width: 30px;
    height: 30px;
}

.flashed-message-list {
    list-style-type: none;
    padding: 0;
}

.flashed-message-element{
    color: #FF0000;
    font-size: 15px;
}