.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.header-wrapper {
    text-align: center;
}

.login-confirm{
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: white;
    color: #333;
    width: 90%;
    margin-top: 15px;
}

.login-confirm:hover{
    color: white;
    background-color: #333;
    cursor: pointer;
}

.confirm-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.confirm-container a {
    color: #777777;
    opacity: 80%;
    cursor: pointer;
    font-size: 8px;
    margin-top: 15px;
}