{% extends "base.html" %} {% block extra_head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/admin_panel.css') }}"
/>
{% endblock %} {% block content %}
<div class="panel-wrapper">
  <div class="panel-sidebar">
    <p><strong>Admin</strong></p>
    <a href="{{ url_for('admin_users') }}">Users</a>
    <a href="{{ url_for('admin_clients') }}">Clients</a>
    <a href="{{ url_for('admin_roles') }}">Roles</a>
    <a href="{{ url_for('admin_settings') }}">Settings</a>
    <a href="{{ url_for('admin_profile') }}">Profile</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="panel-content">
    <div class="panel-title">Profile</div>
    <form method="post">
      {{ form.hidden_tag() }}
      <label>Name:</label>
      {{ form.username(placeholder="admin") }}
      <label>Email:</label>
      {{ form.email(placeholder="admin@admin.com") }}
       {{ form.submit() }}
    </form>
  </div>
</div>
{% endblock %}
