<!doctype html>
<html>
    <head>
        <title>Resolve</title>
        <link href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    {% block extra_head %}{% endblock %}

    <body>
        <div class="header-container">
            <div class="header">
                <div class="left-header">
                    <img src="{{url_for('static', filename='img/ResolveLogo.png')}}" alt="">
                </div>
                <div class="middle-header">
                    <a href="/"><img src="{{url_for('static', filename='img/home.png')}}"/></a>
                </div>
                <div class="right-header">
                    {% if current_user.is_authenticated %}
                        <a href="/logout">Logout</a>
                        {% if current_user.has_any_admin_access() %}
                            <a href="/admin">Admin</a>
                        {% endif %}
                        <a href="{{ url_for('view_profile', user_id=current_user.UserID) }}">{{ current_user.username }}</a>
                    {% else %}
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>

    <!--TODO: Make it so flashed messages are better displayed. Put flashed messages on certain spots in individual pages
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashed-message-list">
                {% for message in messages %}
                    <li class="flashed-message-element">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    -->

    {% block content %}{% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>    
    <script src="{{ url_for('static', filename='Chosen/chosen.jquery.min.js') }}"></script>
    </body>
</html>
