{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
{% endblock %}

{% block content %}
<div class="login">    
    <div class="login-container">
        <div class="header-wrapper"><h2>Login</h2></div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.email.label }}
            {{ form.email(class="email", placeholder="Enter Email Address")}}
            {{ form.password.label }}
            {{ form.password(class="password", placeholder="Enter Password")}}

            <div class="login-options">
                <div>
                    {{ form.remember_me() }} {{ form.remember_me.label }}
                </div>
                <a href="/password-reset-request">Forgot Password?</a> <!--Add link here after route is done-->
            </div>

            <div class="confirm-container">
                {{ form.submit(class="login-confirm") }}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class="flashed-message-list">
                        {% for message in messages %}
                            <li class="flashed-message-element">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
                <a href="{{ url_for('register') }}">Don't have an account? Click here!</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}