{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block content %}
    <div class="edit-profile-container">
        <h2>Edit Profile</h2>
        
        <form action="" method="post" novalidate >
            {{ profileForm.hidden_tag() }}

            {{ profileForm.username.label }}
            {{ profileForm.username }}

            {{ profileForm.email.label }}
            {{ profileForm.email }}

            {{ profileForm.submit() }}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="flashed-message-list">
                    {% for message in messages %}
                        <li class="flashed-message-element">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

        </form>

    </div>
{% endblock %}