{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="edit-profile-container">
            <h2>Edit Profile</h2>
            
            <form action="" method="post" novalidate class="edit-profile-form">
                {{ profileForm.hidden_tag() }}

                <div class="form-element">
                    {{ profileForm.username.label }}
                    {{ profileForm.username }}
                </div>
                
                <div class="form-element">
                    {{ profileForm.email.label }}
                    {{ profileForm.email }}
                </div>

                <div class="form-element notifications-element">
                    {{ profileForm.notifications.label }}
                    {{ profileForm.notifications }}
                </div>
            
                {{ profileForm.submit(class="edit-profile-submit") }}

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class="flashed-message-list">
                        {% for message in messages %}
                            <li class="flashed-message-element">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </form>
            <button id="toggleChangePassword" class="change-password-toggle">Change Password</button>
            <h2 class="change-password-header">Security</h2>
            <form action="" method="post" novalidate class="change-password-form">
                
                {{ passwordForm.hidden_tag() }}

                <div class="form-element">
                    {{ passwordForm.current_password.label(class="current-password") }}
                    {{ passwordForm.current_password }}
                </div>

                <div class="form-element">
                    {{ passwordForm.new_password.label }}
                    {{ passwordForm.new_password }}
                </div>
            
                <div class="form-element">
                    {{ passwordForm.confirm_new_password.label }}
                    {{ passwordForm.confirm_new_password }}
                </div>

                {{ passwordForm.submit(class="change-password-submit") }}

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class="flashed-message-list">
                        {% for message in messages %}
                            <li class="flashed-message-element">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}

            </form>
        </div>
    </div>
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}