{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
{% endblock %}

{% block content %}
<div class="login">
    <div class="login-container">
        <div class="header-wrapper"><h2>Reset Password</h2></div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            
            <div class="confirm-container">
                {{ form.submit(class="login-confirm") }}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class="flashed-message-list">
                        {% for message in messages %}
                            <li class="flashed-message-element">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>
</div>
    
{% endblock %}